.nik{
    width:600px;
    height: 400px;
    background-color: black;
    margin:200px;
    border: red 10px;
    border-width: 5px;
    border-style: solid;
}
h1{
    float:left;
    font-family: sans-serif;

}
h2{
    color: purple;
}
.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: black;
    background-color:#F8E996;
    
}


footer{
    margin:0;
    color: white;
    background-color: sandybrown;
    font-size: 30px;
    width:980px;
    padding-left: 80px;
    border: aliceblue 10px;
    border-width: 5px;
    border-style: solid;
    margin-top: 50px;
}
h1>i{
    color: magenta;
}
#hme,#abt,#cn,#s{
    margin:  5px 30px;
    background-color:yellow;
    color: black;
    border: magenta 10px;
    border-width: 5px;
    border-style: solid;
    text-decoration: none; /*removes underline from "a" tag*/

}
h2{
    font-family: sans-serif;
    font-size: 30px;
    color: blueviolet;
}
.container{
width: 980px;
margin: 0 auto; /*makes div box in center*/
}
.wrapper{
background-color: #F8E996;
overflow: hidden;/* to extend container size so that logo can fit into it*/
}
.ab{
background-color: lightyellow;
width: 250px;
height: 250px;


display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
border: 3px solid #2E5092;
margin: 20px;
}